header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #555;
    height: 10%;
    width: 100%;
    color: #fff;
}

header div {
    margin: 5px 10px;
}

.links {
    gap: 15px;
}

header a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin: 0 5px;
}
