header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightslategray;
    height: 10%;
    width: 100%;
}

header div {
    margin: 5px 10px;
}

.links {
    gap: 10px;
}