:root {
    --hover-width: 80%;
    --outher-width: 20%;
    --speed: 1.5s;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: #fff;
    font-family: sans-serif;
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #555;
    height: 10%;
    width: 100%;
    color: #fff;
}

.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 10px;
    background-color: #444;
    padding: 10px;
    margin: 10px auto;
    max-width: 500px;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #444;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    min-width: 700px;
}


.label, .input{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    background-color: #222;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    margin: 15px;
}

input[type="submit"] {
    background-color: #b00;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 20px 40px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px auto;
    font-size: 25px;
}

input[type="submit"]:hover {
    background-color: #d22;
}

.campo-input {
    background-color: #555;
    height: 30px;
    color: #dcd8d8;
}

footer {
    background-color: #555;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100vw;
}

.modal-marca {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#form-marca {
  position: relative;
}

#btn-fechar-modal {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #333;
    border: none;
}

#btn-fechar-modal img {
    height: 20px;
    width: 20px;
}

.btn-modal img {
    height: 20px;
    width: 20px;
}

#btn-modal {
    background-color: #222;
    border: none;
}